
.con1{
    border: 1px solid black;
    max-width: fit-content;
    margin-top: 20px;
    

}

.con2{
    border: 1px solid black;
    max-width: fit-content;
    margin-top: 20px;

}

.con3{
    border: 1px solid black;
    max-width: fit-content;
    margin-top: 20px;

}

.con4{
    border: 1px solid black;
    max-width: fit-content;
    margin-top: 20px;

}

.con5{
    border: 1px solid black;
    max-width: fit-content;
    margin-top: 20px;

}

.con6{
    border: 1px solid black;
    max-width: fit-content;
    margin-top: 20px;
}