body{
   
    background-image: url(misurina-sunset_181624-34793.avif);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}

form{

    text-align: center;
    color: red;
    margin: 20%;
 
}



